@import "../ambiance/css/sass/default.scss";

$header-bg-color: #EDEDF0;

header[data-role="header"] {
  position: fixed;
  background-color: $header-bg-color;
  opcaity: 1;
  z-index: 100;
  height: 84px;
  overflow: visible;
  
  h1 {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    display: block;
    
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
  
  a[data-role="add"] {
    float: right;
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    top: 12px;
    right: 16px;
    background-image: url(../ambiance/img/actions/add-48.png);
    
  }
  
  #popover-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    display: none;
    
    #popover {
      position: fixed;
      top: 70px;
      width: 75%;
      right: 0;
      background-color: white;
      @include box_shadow (0 0 10px rgba(0, 0, 0, 0.5));
      border-radius: 10px;
      
      &::before {
        position: absolute;
        right: 20px;
        width: 0;
        height: 0;
        content: '';
        top: -17px;
        margin-left: -18px;
        background: transparent url(../ambiance/img/UpArrow@18.png) no-repeat 0.5rem 0.5rem;
        background-size: 50% 50%;
        width: 37px;
        height: 18px;
      }
      
      #map-add-canvas {
        height: 300px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 5px;
      }
      
      form {
        width: 100%;
        overflow: hidden;
        
        input {
          width: -moz-available;
          width: -webkit-fill-available;
          width: fill-available;
          margin: 16px;
          display: block;
          
          &[type='text'] {
            display: none;
          }
        } 
      }
    }  
  }
  
  
}

#content {
  padding-top: 82px;
  position: relative;
  height: calc(100vh - 84px);
  
  header {
    position: fixed;
    width: 100%;
    z-index: 90;
    background-color: $header-bg-color;
  }
  
  ul {
    margin-top: 30px;
    
    li {
      
      a {
        
        &:after {
          content: "";
          background: transparent url(../ambiance/img/chevron@27.png) no-repeat 0.5rem 0.5rem;
          background-size: 40% 75%;
          position: absolute;
          width: 2rem;
          height: 2rem;
          top: 50%;
          right: 0;
          margin-top: -1rem;
          z-index: 0;
        }
        
        img {
          width: auto;
          height: 90%;
          position: relative;
          margin-right: 10px;
          top: 4%;
          float: left;
          border-radius: 20%/15%;
        }
      }
    }
  }
  
  .user {
    img {
      width: 200px;
      height: auto;
      border-radius: 12px;
      margin: auto;
    }
    h2 {
      text-align: center;
    }
  }
  
  #map-canvas {
    height: 100%;
  }
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
//  background-color: $header-bg-color;
  background-color: white;
}